<!DOCTYPE html>
<html>
<head>
  <title>Candy Skills</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">

</head>
<body>
  <h1>Candy Skills</h1>
  <ul>
    <% candies.forEach((candy) => { %>
      <li> <a href="/candies/<%= candy.id %>"><%= candy.name %> - <%= candy.flavor %></a></li>
    <% }); %>
  </ul>
  <a href="/candies/new">Add Candy</a>
</body>
</html>
